body{
    background-image: url(csöcsfasz-dark.png);
    background-repeat: repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.tartalom a{
    color: lime;
}

.tartalom a:hover{
    color: magenta;
}

.tartalom{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;
}

header a{
    color: red;
}